@import "tailwindcss";

@theme {
  --font-sans: 'Urbanist', system-ui, sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--font-sans);
}

@media (min-width: 768px) {

  html,
  body,
  a,
  button,
  [role="button"],
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}